@import url("https://fonts.google.com/specimen/Inter:wght@400;700&display=swap");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

* {
  font-family: "Verdana";
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
}

/* Main  */
.main-heading-up {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin: 50px 50px 0 50px;
  font-size: 30px;
}
.main-heading-down {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin: 50px;
  font-size: 30px;
}
.main-paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 50px;
  font-size: 20px;
}
.purpleColor {
  color: hsl(277, 64%, 61%);
}

.allCard {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.left-side {
  background-color: hsl(244, 38%, 16%);
  width: 550px;
  height: 446px;
  border-radius: 5px 0 0 5px;
}

/* Stats */

.stats {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.stats-item {
  display: flex;
  align-items: right;
  flex-direction: column;
  margin: 0px;
}

.stats-details-number {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  margin: 50px 0 0 0;
}

.stats-details-text {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 18px;
}

/* Card */
.image {
  display: inline-block;
  position: relative;
  height: 446px;
  filter: contrast(150%) brightness(80%);
  border-radius: 0 5px 5px 0;
}
.image:after {
  content: "";
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: hsl(277, 64%, 61%);
  opacity: 0.4;
  border-radius: 0 5px 5px 0;
}
.image-header-desktop {
  border-radius: 0 5px 5px 0;
  content: url(images/image-header-desktop.jpg);
}

/* Responsive area */
@media only screen and (max-width: 500px) {
  .left-side {
    justify-content: center;
    border-radius: 5px 5px 0 0;
  }

  .allCard {
    display: block;
    justify-content: center;
    position: absolute;
  }
  .image:after{
    border-radius: 0 0 5px 5px;
  }
  .image-header-desktop {
    border-radius: 0 0 5px 5px;
    content: url(images/image-header-mobile.jpg);
  }
}
